/* ===================================================================
            login / forgot-password / change password / sign up
==================================================================== */
#login,
#forgot-password,
#change-password {
    background: none;
    height: 1080px;
}

#signup {
    background: none;
    height: 1130px;
}

#login-content .container-fluid,
#fp-content .container-fluid,
#cp-content .container-fluid,
#signup-content .container-fluid,
#login-content .content-box-md,
#fp-content .content-box-md,
#cp-content .content-box-md,
#signup-content .content-box-md {
    padding: 0;
}

#login-bg-img,
#fp-bg-img,
#cp-bg-img,
#signup-bg-img {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background-size: cover;
}

#login-content,
#fp-content,
#cp-content,
#signup-content {
    width: 100%;
    height: 100%;
    display: table;
}

#login-content-inner,
#fp-content-inner,
#cp-content-inner,
#signup-content-inner {
    display: table-cell;
    vertical-align: middle;
}

#login-logo,
#fp-logo,
#cp-logo,
#signup-logo {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/* form */
#login-form,
#fp-form,
#cp-form,
#signup-form {
    background-color: #fff;
    padding: 50px;
    margin-top: 25px;
    width: 580px;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    border-radius: 8px;
}

#login-form h2,
#fp-form h2,
#cp-form h2,
#signup-form h2 {
    margin: 0 0 20px 0;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    text-align: center;
}

#login-head,
#fp-form p,
#cp-form p,
#signup-form p {
    margin-bottom: 45px;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: #333333;
    text-align: center;
}

.form-group label,
#login p:last-child,
#signup p:last-child {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}

.form-control {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.form-control:focus {
    border: 1px solid #6255a5;
    color: #333333;
}

#login .form-group {
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
}

.form-group {
    margin-bottom: 30px;
}

#email {
    margin-bottom: 30px;
}

.form-group a {
    font-family: "Open Sans", sans-serif;
    margin-left: 270px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #6255a5;
}

#login .form-check {
    margin-bottom: 20px;
}

#rememberme {
    margin: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #d1d1d1;
}

.form-check-label {
    margin: 0;
    -webkit-transform: translate(5px, -10px);
    transform: translate(5px, -10px);
}

#login-form .btn-scampi,
#signup-form .btn-scampi {
    width: 100%;
    margin-bottom: 20px;
}

#fp-form .btn-scampi,
#cp-form .btn-scampi {
    width: 100%;
    margin: 0;
}

/* password eye icon */
.field-icon {
    float: right;
    margin: -25px 5px 0 0;
    position: relative;
    z-index: 2;
    color: #8a8a8a;
}

#login p:last-child,
#signup p:last-child {
    margin: 0;
    text-align: center;
}

#login p a,
#signup p a {
    color: #6255a5;
}

#alt-msg-01 {
    color: #ff3636;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    display: none;
    font-family: "Open Sans", sans-serif;
}

#alt-msg-02 {
    color: green;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    display: none;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

/* ===================================
            email verification
==================================== */
#email-verification {
    background: none;
}

#ev-content .container-fluid,
#ev-content .container,
#ev-content .content-box-md {
    padding: 0;
    height: 100%;
}

#ev-content {
    width: 100%;
    height: 100%;
    display: table;
}

#ev-content-inner {
    display: table-cell;
    vertical-align: middle;
    background-color: #000;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background-size: cover;
}

#ev-section {
    background-color: #fff;
    padding: 30px;
    width: 600px;
    top: 50%;
    left: 50%;
    position: relative;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#ev-content-inner .row,
#ev-content-inner .col-md-12 {
    height: 100%;
}

#ev-section h2 {
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    margin: 50px 0 30px 0;
}

#ev-section h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
    margin: 0 0 20px 0;
}

#ev-section p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}

#ev-section .btn-scampi {
    width: 100%;
    margin: 40px 0 0 0;
}