@media (min-width: 1921px) {

    .container-fluid {
        padding: 0 200px;
    }

    /* Home */
    #home-content {
        height: 450px;
        padding-top: 230px;
    }

    .nav-link {
        font-size: 22px;
        line-height: 26px;
        margin: 0 15px;
    }

    #btn-nav {
        width: 109px;
        height: 45px;
        font-size: 22px;
        line-height: 28px;
        margin-left: 15px;
    }

    #logo-nav {
        width: 120%;
    }


    #copyright p {
        font-size: 18px;
        line-height: 22px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .container-fluid {
        padding: 0 50px;
    }
}

@media (max-width: 991px) {
    .container-fluid {
        padding: 0 20px;
    }
    #copyright p {
        font-size: 14px;
        line-height: 18px;
    }

    /* Mobile Navigation */
    .navbar {
        padding: 20px;
    }

    .navbar .nav-link {
        margin: 10px 0;
    }

    #btn-nav {
        margin: 10px 0;
    }

    .collapse {
        -webkit-animation: all 300ms linear;
        animation: all 300ms linear;
    }

    button:hover,
    button:focus {
        outline: none;
    }

    #mobile-nav-open-btn {
        color: #6255a5;
        font-size: 30px;
        line-height: 34px;
        font-weight: 600;
    }

    #mobile-nav-close-btn {
        color: #6255a5;
        font-size: 35px;
        line-height: 40px;
        font-weight: 600;
        display: none;
    }

    ul.pagination li.number a {
        margin: 0 8px;
    }

    ul.pagination li#prev a {
        margin-right: 20px;
    }

    ul.pagination li#next a {
        margin-left: 20px;
    }
}

@media (max-width: 575px) {
    .col-12 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width:372px) {
    .navbar {
        padding: 10px;
    }

    .navbar button {
        text-align: right;
        width: 100%;
    }
}

@media (max-width:300px) {
    #logo-nav {
        width: 70%;
    }
}