@media (min-width: 1921px) {

    .container-fluid {
        padding: 0 200px;
    }

    .note-desc {
        padding: 0 60px 0;
    }

    .details-heading h5 {
        font-size: 28px;
        line-height: 32px;
    }

    #note-heading h3 {
        font-size: 38px;
        line-height: 42px;
    }

    #note-heading p {
        font-size: 22px;
        line-height: 30px;
    }

    .note-desc #text {
        font-size: 20px;
        line-height: 28px;
    }

    #copyright p {
        font-size: 18px;
        line-height: 22px;
    }

    .note-details .label {
        font-size: 22px;
        line-height: 40px;
    }

    .note-details .value {
        font-size: 22px;
        line-height: 40px;
    }

    span.inappro {
        font-size: 18px;
        line-height: 22px;
    }

    .rate img {
        width: 25px;
        height: 25px;
    }

    #logo-nav {
        width: 120%;
    }

    .nav-link {
        font-size: 16px;
        line-height: 20px;
        margin: 0 20px;
    }

    #btn-nav {
        margin-left: 20px;
    }

    .customer .client img {
        width: 70px;
        height: 70px;
    }

    .customer h6 {
        font-size: 22px;
        line-height: 28px;
    }

    .customer p {
        font-size: 20px;
        line-height: 28px;
    }
}

@media(max-width: 1342px) {
    .container-fluid {
        padding: 0 50px;
    }

    .note-desc {
        padding: 0 0 0 30px;
    }

    .details-heading h5 {
        font-size: 20px;
        line-height: 24px;
    }

    #note-heading h3 {
        font-size: 30px;
        line-height: 34px;
    }

    #note-heading p {
        font-size: 14px;
        line-height: 20px;
    }

    .note-desc #text {
        font-size: 14px;
        line-height: 20px;
    }

    .note-desc a.btn {
        width: 154px;
        height: 40px;
        font-size: 14px;
        line-height: 26px;
        margin-top: 10px;
    }

    .note-details .label {
        font-size: 14px;
        line-height: 30px;
    }

    .note-details .value {
        font-size: 14px;
        line-height: 30px;
    }

    .rate img {
        width: 20px;
        height: 20px;
    }

    span.inappro {
        font-size: 14px;
        line-height: 18px;
    }

    #main {
        padding: 15px;
    }

    .customer h6 {
        font-size: 16px;
        line-height: 20px;
    }

    .customer p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .nav-link {
        font-size: 12px;
        line-height: 18px;
        margin: 0 2px;
    }
}

@media (max-width: 991px) {

    .container-fluid {
        padding: 0 30px;
    }

    #note-heading p {
        margin: 5px 0 10px;
    }

    .note-desc a.btn {
        margin-top: 5px;
    }

    .details1-2 {
        margin-top: 40px;
    }

    #copyright p {
        font-size: 12px;
        line-height: 16px;
    }



    /* Mobile Navigation */
    .navbar {
        padding: 20px;
    }

    .collapse {
        -webkit-animation: all 300ms linear;
        animation: all 300ms linear;
    }

    #mobile-nav-open-btn {
        color: #6255a5;
        font-size: 30px;
        line-height: 34px;
        font-weight: 600;
    }

    #mobile-nav-close-btn {
        color: #6255a5;
        font-size: 35px;
        line-height: 40px;
        font-weight: 600;
        display: none;
    }

    button:hover,
    button:focus {
        outline: none;
    }

    .nav-link {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        display: block;
        color: #333333;
        margin: 10px 0;
    }

    .nav-link:focus,
    .nav-link:hover {
        color: #6255a5;
    }

    #btn-nav {
        width: 89px;
        height: 35px;
        border-radius: 3px;
        border: 1px solid #6255a5;
        color: #fff;
        background-color: #6255a5;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        margin: 10px 0;
    }

    #btn-nav:focus {
        outline: 0 !important;
    }
}

@media (max-width: 575px) {
    .container-fluid {
        padding: 0 20px;
    }

    .col-12 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    #about-note .note-img img {
        width: auto;
        height: 200px;
    }

    .note-desc {
        padding: 0 15px;
    }

    #note-heading h3 {
        font-size: 24px;
        line-height: 28px;
    }

}

@media (max-width: 401px) {
    .customer .customer-details {
        padding-left: 15px;
    }
}

@media (max-width: 372px) {
    .navbar {
        padding: 10px;
    }

    .navbar button {
        text-align: right;
        width: 100%;
    }
}

@media (max-width: 300px) {
    #logo-nav {
        width: 70%;
    }
}